<div class="container">
    <div class="d-flex justify-content-between mt-4">
        <h4>Profesores</h4>
        <button class="btn btn-success" (click)="navigateToForm()">Agregar Profesor</button>
    </div>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of lstProfesors ">
                <td>{{item.id}}</td>
                <td>{{item.nombres}}</td>
                <td>{{item.apellidos}}</td>
                <td>{{item.email}}</td>

                <td>
                    <!-- Podemos enviar valores a metodos en el .ts de esta forma-->
                    <button class="btn btn-primary" (click)="updateProfesor(item.id)">Actualizar</button>
                    <button class="btn btn-danger" (click)="deleteProfesor($event)" value="{{item.id}}">Eliminar
                        Profesor</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>