<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ADS project</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mantenimientos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" routerLink="/estudiantes">Estudiantes</a>
                        <a class="dropdown-item" href="#" routerLink="/carreras">Carreras</a>
                        <a class="dropdown-item" href="#" routerLink="/materias">Materias</a>
                        <a class="dropdown-item" href="#" routerLink="/profesores">Profesores</a>
                        <a class="dropdown-item" href="#" routerLink="/grupos">Grupos</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
 <router-outlet></router-outlet>    